/* logo v hlavicce */
.header-logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

/* barva pisma v hlavicce */
.title-accent {
    color: #078034;
    font-weight: bold;
}

/* barva horni listy */
.navbar-color {
    background-color: rgba(113, 189, 76, 0.89);
}

/* barva odkazoveho pisma */
.navbar-color .nav-link {
    color: #000;
}

/* vzhled odkazu registrace */
.navbar-color .nav-link.active {
    text-decoration: underline;
    font-weight: 600;
}

/* info blocky hlavni stranka */
.info-card.green {
    background: #28a745;
    color: white;
}

/* mobilní úprava */
@media (max-width: 767px) {
    .site-title { font-size: 1.4rem; }
}

/* hvezdy pro hodnoceni*/
.star-rating-container {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
}

/* slider pod hvezdami (kliknutelny) */
.star-rating-container .rating-input {
    width: 125px;
    height: 18px;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

/* hvezdy jen vizualni */
.star-rating-container .rating-stars {
    font-size: 22px;
    color: #f5b100;
    pointer-events: none;
    line-height: 18px;
}
